<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= f.label :subject, "subject:"%>
  <%= f.text_field :subject %></p>

  <br>

  <p><%= f.label :mast_url, "mast_url:"%>
  <%= f.text_field :mast_url %></p>
  <br>

<p><%= f.label :thumb_url, "thumb_url:"%>
  <%= f.text_field :thumb_url %></p>
  <br>

<p><%= f.label :section_id, "section:"%>
  <%= f.select :section_id, Section.all.collect { |s| [ s.name, s.id ] }, include_blank: false  %></p>
  


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
