<%= form_for @headline, url: story_headlines_path(@headline, story_id: params[:story_id]) do |f| %>
  <%= f.label :story_id, "Create headline for Story #{params[:story_id]}." %>

  <%= f.label :headline, "headline:" %>
  <%= f.text_field :headline %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
